[Unit]
Description=Daniel Keane Website

[Service]
User=danielkeane
WorkingDirectory=/app
ExecStart=/bin/bash /app/serverStart.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
