#video {
    width: 100%;
}

#main-video {
    width: 100%;
    height: 50vh;
    border: none;
}

.icon-container {
    text-align: center;
}

i {
    color: white;
}

.row {
    padding-bottom: 2vh;
}

#contact-info-container {
    font-family: "Times New Roman", serif;
    text-align: center;
}

.grid-image {
    width: 100%;
}