#video {
    width: 100%;
}

#main-video {
    width: 100%;
    height: 100%;
    border: none;
}

.icon-container {
    text-align: center;
}

i {
    color: white;
}

.row {
    padding-bottom: 2vh;
}
