#main-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-video {
    width: 100%;
    height: 60vh;
}

.full-height {
    height: 100%;
}

.full-view-height {
    height: 100vh;
}