.spotify-player {
    width: 100%;
    min-height: 200px;
    border: none;
    padding-bottom: 1vh;
}

.music-heading-row {
    max-height: 50vh;
}

.music-main-album-image {
    height: 40vh;
}

.music-main-album-image-container {
    text-align: center;
}