body {
    background-color: black;
}

.card {
    background-color: black;
}

#header-logo {
    width: 100%;
    margin: auto;
    display: block;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-segment {
    font-family: "Times New Roman", serif;
}