body {
    background-color: black;
}

.card {
    background-color: black;
}

#header-logo {
    width: 100%;
    margin: auto;
    display: block;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-segment {
    font-family: "Times New Roman", serif;
    color: white;
}

.active-current-page {
    font-weight: bolder;
}

.navigation-item {
    list-style: none;
    display: inline-block;
    padding-right: 5vw;
}

.navigation-item-text {
    color: white;
    font-size: 20pt;
}

.navigation-item-text:hover {
    color: red;
}

@media (min-width: 768px) {
    .navigation-item {
        display: inherit;
        padding-right: inherit;
    }

    .navigation-item-text {
        font-size: 40pt;
    }
}

.grid-image {
    width: 100%;
}

.heading-row {
    padding-bottom: 5vh;
}

#contact-info-container {
    font-family: "Times New Roman", serif;
    text-align: center;
}